<div class="card mt-2" style="border-color: black;">
    <div class="card-body">
        <h1><a class="card-title" style="color: black; text-decoration: none;" href="/<%= post.author %>/<%= post.post_id %>">
            <%= post.title %>
        </a></h1>
        <div class="d-flex">
            <p><a class="card-text" style="color: black; margin-right: 10px;" href="/<%= post.author %>">
                Author: <%= post.author %>
            </a></p>
            <p class="card-text">Topic: <%= post.topic %></p>
        </div>
        <p class="card-text">Date Posted: <%= post.date_posted %></p>
        <hr>
        <p class="card-text"><%= post.content %></p>
        <% if (user) { %>
            <% if (post.author == user.username) { %>
                <div class="d-flex">
                    <a class="btn btn-sm btn-primary" style="margin-right: 5px;" href="/<%= user.username %>/<%= post.post_id %>/update">Update</a>
                    <form action="/<%= user.username %>/<%= post.post_id %>/delete?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                    </form>
                </div>
            <% } %>
        <% } %>
    </div>
</div>