<%- include('../partials/header') %>
<%- include('../partials/navbar', { user: currUser }) %>

<div class="container w-75">
    <div class="card mt-5 mb-5" style="border-color: black; float: left; margin-right: 25px;">
        <div class="card-body">
            <h1 class="card-title"><%= user.first_name %> <%= user.last_name %></h1>
            <h5 class="card-text"><%= user.user_email %></h5>
            <p class="card-text">Location: <%= user.location_city %>, <%= user.location_state %></p>
            <p class="card-text">Bio: <%= user.biography %></p>

            <% if (currUser) { %>
                <div class="d-flex">
                    <a class="btn btn-sm" style="background-color: #5e0009; color: white; margin-right: 3px;" href="/<%= currUser.username %>/update">Update</a>
                    <form action="/<%= currUser.username %>/delete?_method=DELETE" method="POST">
                        <button class="btn btn-sm" style="background-color: #5e0009; color: white;" type="submit">Delete</button>
                    </form>
                </div>
            <% } %>
        </div>
    </div>

    <div>
        <% for (var i = 0; i < posts.length; i++) { %>
            <%- include('../partials/post-feed', { 
                user: currUser,
                post: posts[i]
            }) %>
        <% } %>
    </div>
</div>

<%- include('../partials/footer') %>