<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container w-50 justify-center">
    <h1 class="mt-3"><%= user.first_name %> <%= user.last_name %></h1>
    <h3><%= user.user_email %></h3>
    <p>Location: <%= user.location_city %>, <%= user.location_state %></p>
    <p>Bio: <%= user.biography %></p>

    <% for (var i = 0; i < posts.length; i++) { %>
        <div>
            <hr>
            <h1><%= posts[i].title %></h1>
            <p><a href="/<%= posts[i].author %>">
                <%= posts[i].author %>
            </a></p>
            <p>Topic: <%= posts[i].topic %></p>
            <p>Date Posted: <%= posts[i].date_posted %></p>
            <p><%= posts[i].content %></p>
            <% if (currUser) { %>
                <% if (posts[i].author == user.username) { %>
                    <button>Update</button>
                    <button>Delete</button>
                <% } %>
            <% } %>
            <hr>
        </div>
    <% } %>
</div>

<%- include('../partials/footer') %>